form{
    margin: 0 auto;
    width: 400px;
}

h1{
    text-align: center;
}

.form_container{
    margin: 50% auto 0 auto;
    transform: translateY(-80%);
    padding-bottom: 2.5rem;
    padding-top: 4rem;
    width: 500px;
    background-color: aliceblue;
}
.login_container{
    margin: 15% auto 0 auto;
    padding-bottom: 2.5rem;
    padding-top: 4rem;
    width: 500px;
    background-color: aliceblue;
}

body{
    background-color: antiquewhite;
}