{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/accounts_style.css" %}">
{% endblock %}
{% block content %}
    <div class="form_container container">
        <h1>Sign Up</h1>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form user_form %}
            {{ profile_form.media }}
            {% bootstrap_form profile_form %}
            <input type="submit" value="Sign Up" class="btn btn-default">
        </form>
    </div>
{% endblock %}